name: Build documentation

permissions:
    contents: read

on:
    push:
    pull_request:
        types: [opened, synchronize, reopened]
        branches:
            - master

jobs:
    build-docs:
        name: Build the documentation
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: true
            - name: Install Sphinx
              run: sudo apt install sphinx-doc
            - name: Install gettext
              run: sudo apt-get install -y gettext
            - name: Build the documentation
              run: make html SPHINXOPTS='-n -W -a'
            - name: Build the documentation and show all errors
              if: ${{ failure() }}
              # This mode will not exit on the first error and will display all of them
              run: make html SPHINXOPTS='-n -a'
